@import "tailwindcss";

body{
font-family: 'Poppins'; 
}
h2{
  @apply text-2xl font-semibold py-2 
}
h3{
  @apply text-xl font-semibold py-4;
}
img{
  object-fit: cover;
}

.logo{
  font-weight: bold;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* boutons */
.btn-pink{
  @apply font-semibold border-2 border-pink-400 rounded w-lg text-center uppercase py-2 hover:bg-pink-400;
}
.btn-red{
  @apply font-semibold bg-red-400 rounded w-lg text-center uppercase py-2 hover:bg-red-500;
}
.btn-small-red{
  @apply font-semibold bg-red-400 px-4 py-2 rounded hover:bg-red-500;
}
.btn-yellow{
  @apply rounded-md bg-yellow-500 text-xl py-4 px-6 hover:bg-red-400 uppercase hover:text-white mt-5;
}
.btn-blue{
  @apply w-full bg-blue-600 text-white text-lg py-2 px-4 rounded hover:bg-blue-800 transition duration-300;
}
.btn-lg{
  @apply w-lg
}
.btn-small-blue{
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700;
}
.btn-small{
 @apply bg-pink-500 text-white rounded-md w-40 hover:bg-pink-600;
}


/* form */
.form-control{
  @apply block text-sm font-medium text-gray-700;
}
.input-group{
  @apply mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 outline-none focus:ring-blue-500 focus:border-blue-500 bg-white ;
}

.text-img{
  @apply max-w-screen-lg grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 bg-gray-100
}